$body-background-color: beige;
$font-size: 12pt;
$document-background-color: saddlebrown;
$titles-color: chocolate;
$accented-font-style: italic;
$accented-font-family: 'Agency FB';
$bolded-color: crimson;
$like-button-color: burlywood;
$dislike-button-color: khaki;
$button-width: 40pt;
$button-padding: 5px 0px 5px 10px;


//nested rules
$list-background-color: lightpink;
$list-width: 300pt;
$list-font-family: Verdana;
$list-item-background-color: peachpuff;
$list-item-width: 200pt;
$list-accented-font-style: italic;
$list-item-paragraph-color: deeppink;
$list-item-image-color: antiquewhite;
$list-item-image-height: 100pt;
$list-item-image-width: 150pt;

