body {
  background-color: beige;
  font-size: 12pt;
  color: saddlebrown; }

h1 {
  color: chocolate; }

.subtitle-text {
  font-style: italic;
  font-family: "Agency FB";
  color: chocolate; }

b {
  font-style: italic;
  font-family: "Agency FB";
  color: crimson; }

.like-button {
  width: 40pt;
  padding: 5px 0px 5px 10px;
  background-color: burlywood; }

.dislike-button {
  width: 40pt;
  padding: 5px 0px 5px 10px;
  background-color: khaki; }

div.list-section {
  background-color: lightpink;
  width: 300pt;
  padding: 5px 0px 5px 10px; }
  div.list-section ul {
    font-family: Verdana; }
    div.list-section ul li.list-item {
      background-color: peachpuff;
      width: 200pt; }
      div.list-section ul li.list-item h3 {
        font-style: italic; }
      div.list-section ul li.list-item p {
        color: deeppink; }
      div.list-section ul li.list-item img {
        background-color: antiquewhite;
        height: 100pt;
        width: 150pt; }

