body {
  background-color: beige;
  font-size: 12pt;
  color: saddlebrown; }

h1 {
  color: chocolate; }

.subtitle-text {
  font-style: italic;
  font-family: "Agency FB";
  color: chocolate; }

b {
  font-style: italic;
  font-family: "Agency FB";
  color: crimson; }

.like-button {
  background-color: burlywood;
  width: 40pt;
  padding: 5px 0px 5px 10px; }

.dislike-button {
  background-color: khaki;
  width: 40pt;
  padding: 5px 0px 5px 10px; }

