

body {
    background-color: beige;
    font-size: 12pt;
    color: saddlebrown;
}

h1 {
    color: chocolate;
}

.subtitle-text {
    color: chocolate;
    font-style: italic;
}

b {
    color: crimson;
    font-style: italic;
}