
//mathematical calculations
$container-margin-right : 30px;
$number-of-columns : 3;
$column-width : 200px;
$container-width: $number-of-columns * $column-width + $container-margin-right;

.container {
    background-color: beige;
    width: $container-width;
    padding: 5px;
    height: 20px;
}

.column{
    width : $column-width;
    float : left;
}

.col1{
    @extend .column;
    background-color:red;
}


.col2 {
    @extend .column;
    background-color: green;
}


.col3 {
    @extend .column;
    background-color: blue;
}


//parent selectors
.parent-selectors {
    // color:chocolate;
    // font-style:italic;
    border: dashed;

    ul {
        li {
            a {
                color: crimson;
            }

            a:hover {
                color: green;
            }
        }
    }
    /*a:hover {
        color: chocolate;
        font-style: italic;
    }*/
}


