.container {
  background-color: beige;
  width: 630px;
  padding: 5px;
  height: 20px; }

.column, .col1, .col2, .col3 {
  width: 200px;
  float: left; }

.col1 {
  background-color: red; }

.col2 {
  background-color: green; }

.col3 {
  background-color: blue; }

.parent-selectors {
  border: dashed; }
  .parent-selectors ul li a {
    color: crimson; }
  .parent-selectors ul li a:hover {
    color: green; }
  .parent-selectors ul li a:visited {
    color: cornflowerblue; }

.checkbox-group {
  border: inset; }

.radio-group {
  border: groove; }

.parent-selectors-v2 {
  border: dotted;
  /*div.checkbox-group input:checked {
        opacity: 0.3
    }

    div.radio-group input :checked {
        display: none;
    }*/
  /*div.checkbox-group input {
        &:checked {
            opacity: 0.3
        }
    }
    div.radio-group input {
        &:checked {
            display: none;
        }
    }*/ }
  .parent-selectors-v2 ul li a {
    color: brown; }
    .parent-selectors-v2 ul li a:hover {
      color: pink; }
    .parent-selectors-v2 ul li a:visited {
      color: dimgray; }
    .has-validation-errors .parent-selectors-v2 ul li a {
      font-style: italic; }
    div.has-info-message .parent-selectors-v2 ul li a {
      font-size: large; }
  .parent-selectors-v2 div.checkbox-group input:checked {
    opacity: 0.3; }
  .parent-selectors-v2 div.radio-group input:checked {
    display: none; }

